body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {

  margin-bottom: 20px;
}

.navbar img {

  vertical-align: middle;
}

.nav {

  display: table;
  width: 95%;
  border-collapse: collapse;
  border: none;
}

li.menubar:last-child {
  float:right;
}
